
img 
{
width: 100%;
}

html, body {
    background:pink;
    margin: 0;
    height: 100%;
}


header,
main,
nav,
aside,
footer {
    background:pink;
    color: white;
    border: 1px solid #377EFF;
}


div {
    background:pink;
    color: white;
    border: 10px solid #377EFF;
    box-sizing: border-box;
    /* width: 100%;
    height: 100%; */
}


